body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 0;
}

.btn-primary {
  background-image: none;
  text-shadow: 0;
}
